flask
firebase-admin
python-dotenv
google-generativeai
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
pypdf
python-docx
python-pptx
PyMuPDF
pydub
gTTS
Pillow
moviepy
openai-whisper
torch
requests
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
firebase-admin
scikit-learn
numpy
fpdf2
watchdog